@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600;700&family=Instrument+Serif:ital@0;1&family=Kanit:ital,wght@0,400;1,300&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap");

* {
  font-family: "Amatic SC", cursive;
  font-family: "Caveat", cursive;
  font-family: "Instrument Serif", serif;
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Orbitron", sans-serif;
  margin: 0px;
  padding: 0px;
}
.app {
  min-height: 100vh;
  background-color: #181818;
}
.lightApp {
  min-height: 100vh;
  background-color: rgba(244, 246, 248);
}

// VARIABLES
$appbarHeight: 100px;
$themeWhite: rgba(244, 246, 248);
$themeBlack: #181818;
$red: #aa1004;
.wideScreenParent {
  position: fixed;
  top: 0px;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $appbarHeight;
  backdrop-filter: blur(14px);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.1);
  .titleAppbar {
    width: 20%;
    display: flex;
    align-items: center;
    & a {
      text-decoration: none;
      & h1 {
        font-family: "Orbitron", sans-serif;
        font-weight: 800;
        font-size: 50px;
        & span {
          color: $red;
          font-size: 60px;
          margin: 0px 5px;
        }
      }
    }
  }
  .searchWideScreen {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    .css-1x51dt5-MuiInputBase-input-MuiInput-input {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      height: 20px;
      padding: 15px;
      color: $red;
    }
  }
  .themeSwitch {
    display: flex;
    align-items: center;
    width: 10%;
    & h5 {
      font-family: "Orbitron", sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    & svg {
      font-size: 30px;
      margin: 0px 10px;
    }
  }
}
.subBarWidescreen {
  position: absolute;
  top: $appbarHeight + 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  .subCenter {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}
.mainParentPopular {
  margin-top: $appbarHeight;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .popularFirstSight {
    z-index: 1;
    display: flex;
    width: 100%;
    overflow: hidden;
    .imageFirstSight {
      position: relative;
      width: 100%;
      cursor: pointer;
      .shaderDark {
        position: absolute;
        bottom: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $themeBlack);
      }
      .shaderLight {
        position: absolute;
        bottom: 0px;
        height: 40%;
        width: 100%;
        z-index: 1;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          $themeWhite
        );
      }
      & video {
        width: 100%;
        height: 90vh;
        scale: 1.4;
      }
      .detailBox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 30%;
        width: 70%;
        position: absolute;
        bottom: 0px;
        left: 50px;
        z-index: 1;
        & h6 {
          width: max-content;
          margin-left: 10px;
          & span {
            margin-left: 5px;
            border-radius: 3px;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }
      .landingButtonPlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        @keyframes colorGradient {
          0% {
            color: white;
          }
          50% {
            color: rgb(44, 42, 42);
          }
          100% {
            color: white;
          }
        }
        & svg {
          font-size: 150px;
          // color: white;
          animation: colorGradient 3s linear infinite;
        }
        .landingPlayer {
          width: 99vw;
          height: 80vh;
        }
      }
      .videoButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        position: absolute;
        bottom: 50px;
        right: 10px;
        z-index: 2;

        & svg {
          opacity: 0.3;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.popularParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: hidden;
  width: 95%;
  position: relative;
  z-index: 0;
  .PopularTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 90px 0px 50px 0px;
  }
  .popularMoviesList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .imageContainer {
      border-radius: 5px;
      position: relative;
      .imageShaderDark {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1)
        );
      }
      .imageShaderLight {
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(244, 246, 248)
        );
      }
      .imageShader {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
        .movieImageTitle {
          position: absolute;
          bottom: 0px;
          left: 5px;
        }
      }
      &:hover .imageShader {
        opacity: 1;
      }
      & svg {
        color: $themeWhite;
        font-size: 30px;
      }
      & img {
        margin: 20px 0px;
        object-fit: contain;
        border-radius: 5px;
      }
      .infoButton {
        position: absolute;
        top: 10%;
        left: 10px;
      }
      .watch {
        position: absolute;
        top: 10%;
        right: 0%;
      }
      & p {
        position: absolute;
        bottom: 0px;
        left: 5px;
        width: 100%;
        font-weight: 500;
        color: $themeWhite;
      }
    }
  }

  .popularImageSlider {
    display: flex;
    animation: scrollImages 550s linear infinite;
    transform: translateX(-100%);
  }
}

.imageContainer {
  flex: 0 0 auto;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    .imageTitle {
      opacity: 1;
      font-size: 15px;
    }
  }
  & img {
    height: 200px;
  }
}

.imageTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-600%);
  }
}
// PROFILE
.profileParent {
  margin-top: $appbarHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  .profileTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    .profileLottie {
      width: 20%;
      height: 20%;
      border-radius: 50%;
      overflow: hidden;
    }
    margin-top: 50px;
  }
  .xCftiply-56 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    .xCftiply-56-info {
      display: flex;
      flex-direction: column;
    }
    .locationSkeleton {
      display: flex;
      flex-direction: column;
      width: 40%;
    }
  }
}
// SWIPPER JS
.sliderParent {
  .swiper {
    display: flex;
    justify-content: center;
    margin: 0px 2%;
  }

  .swiper-slide {
    position: relative;
    & img {
      width: 100%;
      border-radius: 5px;
    }
    & p {
      display: none;
    }

    &:hover {
      .sliderShaderLight {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(244, 246, 248)
        );
      }

      .sliderShaderDark {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1)
        );
      }
      .title {
        display: block;
      }
    }
  }
}

// Landing
.landingParent {
  margin-top: $appbarHeight;
}
